* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #050814;
  max-width: 100vw;
}

body {
  overflow-x: hidden;
}
/* Below CSS is for Header*/
h1 a {
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

h1 a:hover {
  color: #e69c4e;
}

li,
a,
button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: aliceblue;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

button {
  padding: 9px 25px;
  background-color: rgb(25, 179, 127, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: rgb(2, 2, 2, 1);
}

/*NAV BAR*/
.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: blueviolet;
}
/*END NAV BAR*/

/*HERO SECTION*/
.hero {
  text-align: center;
}
.hero h2 {
  color: white;
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.hero h2 span {
  color: blueviolet;
}

.hero-img {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-image: url("assets\images\project6.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}
/*END HERO SECTION*/

/*ABOUT ME/BIO*/
.about me {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding: 100px;
  margin: auto; */
  width: 100%;
}

.about-me .title2 h3 {
  font-size: 2.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  color: white;
  margin-top: 40px;
  margin-left: 90px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: LEFT;
}

.about-me .title2 h3 span {
  color: #e69c4e;
}

.about-me .title h3 {
  font-size: 2.8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  color: white;
  margin-top: 40px;
  margin-right: 13%;
  margin-bottom: 55px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: right;
}

.about-me .title h3 span {
  color: blueviolet;
}

.about-me .bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*ALL P ELEMENTS*/
.about-me .bio p {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  padding-right: 10px;
}

.about-me .bio .one {
  color: #e69c4e;
}

.about-me .bio .two {
  color: #399fff;
}

.about-me .bio .three {
  color: #14b678;
}

.about-me .bio .four {
  color: blueviolet;
}
/*END ALL P ELEMENTS*/

.about-me .bio img {
  height: auto;
  max-width: 35%;
  margin-left: 50px;
  margin-right: 10%;
  border-radius: 50%;
}

.about-me .bio img:hover {
  transform: translate(1px, -2px) rotate(-5deg);
}

/*END ABOUT ME BIO*/

/*Contact/Footer*/

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: #050814;
}

.contact-section-header > h2 {
  font-size: 5rem;
  color: #399fff;
}

.contact-section-header > h2 span {
  font-size: 5rem;
  color: #e69c4e;
}

/* MEDIA
@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
} */

.contact-section-header > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  transition: all 0.3s ease 0s;
  color: #14b678;
}

.contact-details:hover {
  transform: translateX(10px) rotate(10deg) translateY(-10px);
  color: blueviolet;
}
/*MEDIA*/
@media screen and (max-width: 800px) {
  /* .about-me .bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } */

  .about-me .bio p {
    font-size: 18px;
    letter-spacing: 0rem;
    padding-right: 0px;
  }
}
/*MEDIA700*/
@media screen and (max-width: 700px) {
  .about-me .title h3 {
    font-size: 1.5rem;
  }

  .about-me .title2 h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  button {
    padding: 5px 15px;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .about-me .bio {
    align-items: center;
    flex-wrap: wrap;
  }

  .about-me .bio p {
    font-size: 1.2rem;
    line-height: 1.5;
    border-right-style: solid;
    margin-right: 15px;
    margin-left: 25px;
    font-weight: 100;
  }

  .about-me .bio img {
    margin-bottom: 50px;
    width: 50%;
  }
}

@media screen and (max-width: 447px) {
  button {
    margin-top: 15px;
  }

  .hero h2 {
    font-size: 1.5rem;
  }
}

/*MEDIA380*/
@media screen and (max-width: 380px) {
  .about-me .title h3 {
    font-size: 1.2rem;
  }

  .about-me .title2 h3 {
    font-size: 1.2rem;
  }
}

/*MEDIA*/
@media (max-width: 28.75em) {
  .contact-section-header h2 span {
    font-size: 3rem;
  }
  .contact-section-header > h2 {
    font-size: 3rem;
  }

  /* .about-me .bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  } */

  /* .about-me .bio p {
    font-size: 12px;
    letter-spacing: 0rem;
    padding-right: 0px;
  } */

  #projects .project-item {
    justify-content: unset;
  }

  .responsive-iframe {
    width: 100vw;
  }
}
